<h3>Acerca del autor</h3>
Soy Jos&eacute; M. G&uuml;emes<p>
<div>
  Esta es mi foto</p><p>
  <img border="0" src="/images/fotoj.jpg" alt="Foto de José Manuel" width="135" height="120">
</div>
<div>
  y me podeis ver en este video<p>
  <video width="340" height="240" controls preload>
  <source src="/images/videoj.mp4" type=video/mp4>
  </video>
</div>
